#perfilContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
}

#perfilTitle{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
#subjectBox{
    border: 2px solid var(--mainColor);
    height: 100px;
    width: 90%;
    margin-left: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
#perfilPasswordContainer{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
#ciGenContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
#perfilXcontainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#perfilX{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--mainColor);
    cursor: pointer;
}
.teacheSubject{
    color: var(--mainColor);
    padding: 5px 0;
    border: 1px solid var(--secondaryColor);
}
.teacheSubject:hover{
    color: white;
    background-color: var(--mainColor);

}

@media (max-width: 560px) {
    #perfilBOX{
        width: 97% !important;
    }
}