#tutorBTNsearch{
    display: flex;
    flex-direction: column;
}
#tutorPanelCiContainer{
    display: flex;
    align-items: stretch;
    gap: 20px;
}
#tutorDataContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.invisible{
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow: hidden;
    pointer-events: none;
}