#dataName {
    background-color: white;
    border: 2px solid var(--secondaryColor);
    width: 600px;
    height: calc(75vh - var(--navBarHeight));
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dataTitleSchoolYear,
#dataTitle {
    width: 100%;
    text-align: center;
}

#dataTitle {
    font-size: 30px;
    color: var(--mainColor);
}

#dataTitleSchoolYear {
    color: var(--secondaryColor);
}

#studentDataContainerx {
    margin-top: 40px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
}

#studentPhoto {
    border: 1px solid var(--secondaryColor);
    width: 110px;
    height: 130px;
}

.studentInput {
    width: 100%;
    color: var(--mainColor);
}

#auxStudenName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.studenLapse{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
    column-gap: 50px;
    border-bottom: 1px solid var(--secondaryColor);
}
.lblLapse{
    font-size: 30px;
    line-height: 1px;
    color: var(--mainColor);
}
.lapInput{
    width: 100px;
    height: 60px;
    font-size: 40px;
    color: var(--mainColor);
    text-align: center;
    border:1px solid var(--secondaryColor);
    border-bottom: 0px;
    margin-left: auto;
    margin-right: 0;
}
#studenGradesContainer{
    margin-top: 50px;
}
#studentDefContainer{
    display: flex ;
    justify-content: center;
    column-gap: 40px;
    color: var(--secondaryColor);
    align-items: baseline;
    margin-top: 30px;
}
#studentDef{
    color: var(--mainColor);
    font-size: 40px;
}
.error{
    background-color: yellow;
    border-color: red;
}


@media (max-width: 600px) {
    #dataName {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;        
    }
    #dataTitle {
        font-size: 26px;
        font-weight: 500;
      
    }
    #dataTitleSchoolYear {
        font-size: 12px;
    }

    .lapInput{
        width: 70px;
        height: 50px;
        font-size: 30px;
        color: var(--mainColor);
        text-align: center;
        border:1px solid var(--secondaryColor);
        border-bottom: 0px;
        margin-left: auto;
        margin-right: 0;
    }
    .lblLapse{
        font-size: 20px;
    }
  
}