#infoContainer{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    width: 100%;

}
#infoIfo{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.infoInfo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 100%;

}
#btnAccpet{
    margin-top: 20px;
    width: 100px;
    margin-left: calc(50% - 50px);

}