#teacherListContainer{
    width: 95%;
    margin-top: 20px;
    margin-left: 10px;

}
#btnTeachewrListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
    margin: 20px 0;

}
#headerTeacherList{
    position: sticky;
    top: 0;
    margin-left: 10px;
}

#fireTeachersContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: stretch;
    justify-content: center;
}

#studentListFilterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin: 20px 0;
}