.MuiDrawer-paperAnchorTop,
.MuiDrawer-paperAnchorLeft{
    margin-top: var(--navBarHeight);
}

.css-68zbsl{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--mainColor);
}

#navBarLogo{
    width: var(--navBarHeight);
}