#teacherCiContainer{
    display: flex;
    gap: 20px;
    align-items: stretch;
}

#btnSearchTeacher{
    display: flex;
    flex-direction: column;
}

#teacherDataContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.info{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: var(--secondaryColor);
    margin: 20px 0;
}

#subjecsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.invisible{
    pointer-events: none;
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow: hidden;
}