#listContainer{
    background-color: white;
    border: 2px solid var(--secondaryColor);
    width: 700px;
    height: calc(95vh - var(--navBarHeight));
    border-radius: 15px;
}
#StudenListTitle{
    color: var(--mainColor);
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#studentListContaner{
    width: 95%;
    border: 2px solid var(--secondaryColor);
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    margin-top: 20px;
    height: calc(100% - 60px);
}


/**/

table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  th {
    padding: 0.25rem;
    border: 1px solid var(--mainColor);
  }
  td {
    padding: 0.25rem;
    border: 1px solid var(--secondaryColor);
  }
  td{
    border: 1px solid var(--secondaryColor);
    height: 40px;
  }
  tr:hover{
    background-color: var(--secondaryColor);
    cursor: pointer;
  }
  .tableHead th {
    background: var(--mainColor);
    color: white;
  }

  thead {
    background: var(--mainColor);
    position: sticky;
    top: 0;
  }