#titleConfigEvalPlan{
    width: 100%;
    text-align: center;
    color: var(--mainColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18;
    font-weight: 500;
}
#evalChangeData{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.EvaluationTableInput{
    width: 50px;
    height: 50px;
    text-align: right;
    font-size: 20px;
    border: 2px solid transparent;
    cursor: pointer;

}
.EvaluationTableInput2:focus
.EvaluationTableInput:focus{
    border: 2px solid var(--mainColor);
    outline: none;
}
.EvaluationTableInput2{
    width: 80px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    border: 2px solid transparent;
    cursor: pointer;
    inline-size: 100px;
    overflow-wrap: break-word

}

.EvaluationTableRow{
    cursor: auto !important;
    font-size: 20px !important;
    min-width: 70px ;
}
.EvaluationTableRowRow:hover{
    background-color: transparent !important;
}

#evalChangeButtonContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 20px;
}
#evalChangeContentMessage{
    display: flex;
    flex-direction: column;
    color: gray;
    margin: 10px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#btnSaveEvalPlan{
    position: absolute;
    top: -40px;
    right: 20px;
}
#evalChangeAuxButonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: baseline;
}

#evalPlanContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    margin-left: 100px;
    margin-top: 30px;
}

.lapsePlanContainer{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    width: 400px;
/*border: 1px solid green;*/
}
.evalGradeContainer{
    border: 1px solid var(--secondaryColor);
    text-align: center;
    font-size: 18px;
}
.evalGradePercent{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondaryColor);
    padding: 10px;
    color: var(--secondaryColor);
}
.evalGradeGrade{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondaryColor);
    padding: 10px;
    color: var(--mainColor);
}
.evalPlanLapseTitle{
    color: var(--secondaryColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.evalPalLapseTotal{
    position: absolute;
    top: 0;
    right: -80px;
}
.evalGradetotal{
    height: 40px;
}
.evalGradeinput{
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    border: 1px solid transparent;
}

#dataEvalPlanNameContainer{
   display: flex;
   flex-direction: column;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: var(--secondaryColor);
   font-weight: 600;
}
#evalPlanTitleAuxContainer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 400px;
    margin: 10px 0;
}