#buttonContainert{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.inputModalBTN{
    width: 100px;
}

#inputModalDataContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#inputModalTitle{
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: var(--secondaryColor);
}