#periodContainer{
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    align-items: stretch;
}
.input{
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    align-items: stretch;
}
#btnChangePeriod{
    margin: 20px;
}

.namesContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}