#NavBar{
    background-color: var(--mainColor);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navBarHeight);
    border-bottom: 1px solid var(--secondaryColor);
    z-index: 1000;
}
#navBarContainer{
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
}

#logoContainer{
    width: var(--navBarHeight);
    height: var(--navBarHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow( 0 0 3px white);
    margin-left: 20px;
    cursor: pointer;
}
#logoContainer:hover{
    filter: drop-shadow( 0 0 3px rgb(88, 246, 252));
}

#iconsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    left: calc(var(--navBarHeight) + 60px);
    height: var(--navBarHeight);
}
.NavBarIcon{
    cursor: pointer;
}
.NavBarIcon:hover{
    filter: drop-shadow(0 0 3px white);
}